name: Build Alpha APK (arm64)

on: workflow_dispatch

jobs:
  build:
    name: Build Alpha APK for arm64
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'

      # Navigate to the submodule and perform the necessary git operations
      - name: Update flutter submodule to stable branch
        run: |
          git submodule update --init --recursive
          cd submodules/flutter
          git reset --merge
          git checkout stable
          git pull origin stable
          cd ../..

      - run: submodules/flutter/bin/flutter pub get

      - name: Run Flutter tests
        run: submodules/flutter/bin/flutter test

      - name: Set up signing config
        run: |
          echo "${{ secrets.ANDROID_KEY_BASE64 }}" | base64 -d - > upload-keystore.jks
          echo "${{ secrets.ANDROID_PROPERTIES_BASE64 }}" | base64 -d - > key.properties
          export X_KEYSTORE_PATH="$(pwd)/upload-keystore.jks"
          echo "X_KEYSTORE_PATH=$X_KEYSTORE_PATH" >> $GITHUB_ENV
          cp key.properties android/key.properties

      - name: Build Alpha APK for arm64
        run: submodules/flutter/bin/flutter build apk --split-debug-info=./build-debug-files --flavor alpha --release --target-platform android-arm64
        env:
          X_KEYSTORE_PATH: ${{ env.X_KEYSTORE_PATH }}

      - name: Upload Alpha APK arm64
        uses: actions/upload-artifact@v4
        with:
          name: app-arm64-v8a-alpha-release.apk
          path: build/app/outputs/flutter-apk/app-arm64-v8a-alpha-release.apk
